<style>
  .search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }

  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .search-btn i {
    display: inline;
    margin-right: 5px;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 0.9rem;
  }

  @media (max-width: 768px) {
    .search-form {
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
    }
    .search-inp {
      width: 100%;
    }
  }
</style>

<nav class="navbar navbar-expand-lg bg-light border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"></i>
    </a>

    <!-- Toggle button for mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible section -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <!-- Left side links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/listings"><b>Explore</b></a>
        </li>
      </ul>

      <!-- Search form -->
      <form class="d-flex search-form align-items-center mb-2 mb-lg-0" method="GET" action="/listings">
        <input
          class="form-control me-lg-2 search-inp"
          type="search"
          name="search"
          placeholder="Search by title, location, or owner..."
          value="<%= typeof search !== 'undefined' ? search : '' %>"
        />
        <button class="btn search-btn" type="submit">
          <i class="fa fa-search"></i> Search
        </button>
      </form>

      <!-- Right nav links -->
      <ul class="navbar-nav ms-lg-3 mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/listings/new"><b>Add new Listing</b></a>
        </li>
        <% if (!currUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login"><b>Log in</b></a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/logout"><b>Log out</b></a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
